<div class="panel">    
    <div class="panel-heading border">        
        <form class="form-inline">            
            <button type="button" class="btn btn-success" ng-click="fn.onAdd()">Add Logsource</button>
            <button type="button" class="btn btn-success" ng-click="fn.onImportLog()">Import Logsource file</button>
            <a href="http://nautilus10.sacsol.com/sims/helptoimport.html">FAQ</a>
        </form>        
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4"><h3>Logsources</h3></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                        <label>Country</label>
                        <select class="form-control" ng-model="selectedFilter.country">            
                            <option value="-1">All</option>
                            <option ng-repeat="country in filterConf.countries" value="{{country.Code}}">{{country.Name}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Asset Value</label>            
                            <select class="form-control" ng-model="selectedFilter.priority">                        
                                <option value="-1">All</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Asset type</label>
                            <select class="form-control" ng-model="selectedFilter.platid">
                                <option value="-1">All</option>
                                <option ng-repeat="plat in filterConf.platform" value="{{plat.platid}}">{{plat.pl_description}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" style="margin-top: 20px;" ng-click="fn.onRest()">Reset All</button>
                        </div>                        
                    </div>
                </div>
            </div>            
        </div>
        <table class="table table-bordered bordered table-striped table-condensed datatable" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">                
            <thead>
                <tr>                    
                    <th>Logsourceid</th>
                    <th>Name</th>
                    <th>Asset type</th>
                    <th>Asset value</th>
                    <th>Admin contact</th>
                    <th>Usage</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="log in fn.onFilter() track by $index">                    
                    <td>{{log.logsourceid}}</td>
                    <td>{{log.ls_systemname}}</td>
                    <td>{{log.pl_name}}</td>                    
                    <td>{{log.ls_priority}}</td>
                    <td>{{fn.getUser(log.ls_itownid)}}</td>
                    <td>{{log.ls_usage}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="fn.onUpdate(log)">Update</button>
                        <button type="button" class="btn btn-warning" ng-click="fn.onDetail(log)">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>        
    </div>
</div>