
<div class="panel">    
    <div class="panel-heading border">
        <div><h4>Add User:</h4></div>
        <form name="userForm" class="form-inline" ng-submit="submitForm(userForm.$valid)">
            <div class="form-group">
                <label for="">Role</label>
                <select name="userrole" class="form-control"  ng-model="selectedRole" ng-options="role.rolename for role in roles" required></select>                
            </div>
            <div class="form-group" ng-if="selectedRole.rolename == 'Client'">
                <label for="">ClientID</label>
                <select name="clientid" class="form-control" ng-model="selectedClient.clientid">                    
                    <option ng-repeat="client in clients" value="{{client.clientid}}">{{client.cl_name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">UserName</label>
                <input name="username" type="text" class="form-control"  placeholder="Input Username" ng-model="newUser.usr_username" required/>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input name="password" type="text" class="form-control"  placeholder="Input Password" ng-model="newUser.usr_password" required/>
            </div>            
            <div class="form-group">
                <label for="">Email</label>
                <input name="useremail" type="email" class="form-control" placeholder="Input Email" ng-model="newUser.usr_email" required/>
            </div>
            <div class="form-group">
                <label for="">Picture</label>
                <input type="file" accept="image/*" ng-model="picFile" onchange="angular.element(this).scope().fn.loadImage(files)">
            </div>
            <img id="output"/>            
            <button type="button" class="btn btn-success" ng-disabled="userForm.$invalid || !selectedRole.roleid" ng-click="fn.addUser()">Save</button>            
        </form>        
    </div>
    <div class="panel-body">        
        <table class="table table-bordered bordered table-striped table-condensed datatable" datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover">
            <thead>
                    <tr>
                        <th>#</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>UserEmail</th>
                        <th>Role</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users">
                        <td>{{$index+1}}</td>
                        <td>{{u.usr_username}}</td>
                        <td>
                            <input ng-if="selectedPassword==$index" class="border-none transparent" type="text" value="{{u.usr_password}}" readonly>
                            <input ng-if="selectedPassword!=$index" class="border-none transparent" type="password" value="{{u.usr_password}}" readonly>
                            &nbsp;<i class="fa fa-eye" aria-hidden="true" ng-click="fn.onViewPassword($index)"></i>
                        </td>
                        <td>{{u.usr_email}}</td>
                        <td>{{u.rolename}}</td>
                        <td><img class="user-picture" src="{{root + u.usr_picture}}"></td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="fn.onUpdateUser(u)"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i>Update</button>
                            <button type="button" class="btn btn-danger" ng-click="fn.onDeleteUser(u.userid)"><i class="fa fa-trash-o fa-lg"></i> Delete</button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>